{% extends 'base.html' %}
{% block body %}
<div class="container px-4">
    <div class="row gx-5">
        {% for i in movie_list %}
        <div class="p-2 col-md-4">
            <div class="p-2 card" style="width: 22rem;"  >
                <img class="card-img-top" src="{{i.img.url}}" alt="Card image cap" width="400px" height="300px">
                <div class="card-body">
                    <h6 class="card-title">{{i.name}}</h6>
<!--                    <p class="card-text">{{i.desc}}</p>-->
                    <a href="{% url 'movieapp:detail' i.id %}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>




<!--<img src="{{i.img.url}}" width="100" height="100">-->
<!--<a href=>{{i.name}}<br>-->

{% endblock %}
